.buttonRight{
    position: absolute;
    right: 0;
    top: 0;
}

.displayInline{
    display: inline;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .paddingLeft {
      padding-left: 2%;
  }

  .leftAlign {
      text-align: left;
  }

  .centerAlign {
      text-align: center;
  }

  .settingText {
      font-size: 130%;
  }

  input[type=radio] {
    border: 0px;
    width: 5%;
    height: 20px;
}