.buttons {
  background-color: #ff4000;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  width: 150px;
  height: 40px;
}

.spaceBeforeAndAfter {
  padding-top: 1%;
  padding-bottom: 1%;
}
