  <div class="centerContent spaceBeforeAndAfter">
      <div *ngIf="card != undefined; else cardsNotDealt">
        <settings></settings>
        <div class="container">
          <img class="mainCard" src="http://images.loteria.com/{{card.imageUrl}}" alt={{card.cardNameEnglish}}>
          <div *ngIf="isPaused" class="wording">PAUSED</div>
          <div *ngIf="isEnd" class="wording">THE END</div>
        </div>
      </div>
      <ng-template #cardsNotDealt>
        <div class="titleCentered latinFont">
          <div>Hit Start To</div>
          <div>Play the Game!</div>
        </div>
      </ng-template>
      <controls></controls>

      <card-carousel></card-carousel>
  </div>
